body {
  font-family: $ff-main;
  font-size: 1rem;
  line-height: 1.2;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.title {
  color: #292f36;
  font-family: $ff-main-bold;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 0 55px 0;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 40px;
    background-color: #e1e6ea;
    margin-right: 14px;
    margin-top: -6px;
  }

  &--wedo {
    margin-bottom: 85px;
  }

  @media (max-width: 600px) {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}

.social {
  &__list {
    display: inline-block;
    vertical-align: top;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;

    @media (max-width: 500px) {
      width: 40px;
      height: 40px;
    }
  }

  &__link {
    color: #ffffff;
    display: block;
    text-align: center;
    line-height: 60px;
    background-color: #c8cdd0;
    font-size: 1.3rem;
    transition: 0.3s;

    &:hover {
      background-color: lighten(#c8cdd0, 3%);
    }

    @media (max-width: 500px) {
      line-height: 40px;
      font-size: 1rem;
    }
  }
}

.icon {
  margin: auto auto 35px auto;
}

.icon--setup {
  @include sprite($setup);
}

.icon--display {
  @include sprite($display);
}

.icon--design {
  @include sprite($design);
}

.icon--time {
  @include sprite($time);
}
