.nav {
  width: 90.8%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;

  @media (max-width: 1185px) {
    display: none;
  }

  &__item {
    display: inline-block;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 8px;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-family: $ff-main-bold;
    text-decoration: none;
    color: #a4aead;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color 0.3s;

    &:hover {
      border-color: #a4aead;
    }

    &--active {
      color: $accent-color;
      border-color: $accent-color;
    }
  }
}
