section.features
  .container
    h2.title Features.

    ul.features__list
      li.features__item
        img.features__picture(src='images/features-1.jpg' alt='Features 1')
        .features__header Product design: Eames chairs
        p.features__description.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Ab ducimus iure neque quasi fuga aliquam repellat
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          ut adipisci, veniam consequatur.

      li.features__item
        img.features__picture(src='images/features-2.jpg' alt='Features 2')
        .features__header Product design: Eames chairs
        p.features__description.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Ab ducimus iure neque quasi fuga aliquam repellat
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          ut adipisci, veniam consequatur.

      li.features__item
        img.features__picture(src='images/features-3.jpg' alt='Features 3')
        .features__header Product design: Eames chairs
        p.features__description.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Ab ducimus iure neque quasi fuga aliquam repellat
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          ut adipisci, veniam consequatur.