footer.footer
  .container
    .footer__copyright
      | &copy; Copyright 2014 by PSD Booster. All Rights Reserved.
    
    .social
      ul.social__list
        li.social__item
          a.social__link(href='#'): i.fa.fa-twitter
        li.social__item
          a.social__link(href='#'): i.fa.fa-facebook
        li.social__item
          a.social__link(href='#'): i.fa.fa-skype
        li.social__item
          a.social__link(href='#'): i.fa.fa-behance
        li.social__item
          a.social__link(href='#'): i.fa.fa-linkedin