.slider
  .container
    .slider__content
      h1.slider__title Welcome to our marketplace
      p.slider__description.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit amet consectetur.
        Cumque atque nesciunt, voluptas molestias quaerat id. ...
      button.btn.btn__active View more
      button.btn Video tour
  