section.wedo
  .container
    h2.title.title--wedo What we do.

    ul.wedo__list
      li.wedo__item
        .icon.icon--setup
        h3.wedo__header Easy theme setup
        p.wedo__description.
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Pariatur, nesciunt eum minima iste minus doloribus!

      li.wedo__item
        .icon.icon--design
        h3.wedo__header Pixel perfect design
        p.wedo__description.
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Pariatur, nesciunt eum minima iste minus doloribus!
      
      li.wedo__item
        .icon.icon--display
        h3.wedo__header Responsive display
        p.wedo__description.
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Pariatur, nesciunt eum minima iste minus doloribus!

      li.wedo__item
        .icon.icon--time
        h3.wedo__header 24/7 support
        p.wedo__description.
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Pariatur, nesciunt eum minima iste minus doloribus!
      
      li.wedo__item
        .icon.icon--setup
        h3.wedo__header Easy theme setup
        p.wedo__description.
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Pariatur, nesciunt eum minima iste minus doloribus!

      li.wedo__item
        .icon.icon--design
        h3.wedo__header Pixel perfect design
        p.wedo__description.
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Pariatur, nesciunt eum minima iste minus doloribus!
      
      li.wedo__item
        .icon.icon--display
        h3.wedo__header Responsive display
        p.wedo__description.
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Pariatur, nesciunt eum minima iste minus doloribus!

      li.wedo__item
        .icon.icon--time
        h3.wedo__header 24/7 support
        p.wedo__description.
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Pariatur, nesciunt eum minima iste minus doloribus!