section.works
  .container
    h2.title Lovely work.

    ul.works__list
      li.works__item
        img.works__picture(src='images/work-1.jpg' alt='Work 1')
        .works__info
          span.works__plus +
          h3.works__header Partnership guidlnes


      li.works__item
        img.works__picture(src='images/work-2.jpg' alt='Work 2')
        .works__info
          span.works__plus +
          h3.works__header Partnership guidlnes

      li.works__item
        img.works__picture(src='images/work-3.jpg' alt='Work 3')
        .works__info
          span.works__plus +
          h3.works__header Partnership guidlnes

      li.works__item
        img.works__picture(src='images/work-4.jpg' alt='Work 4')
        .works__info
          span.works__plus +
          h3.works__header Partnership guidlnes

      li.works__item
        img.works__picture(src='images/work-5.jpg' alt='Work 5')
        .works__info
          span.works__plus +
          h3.works__header Partnership guidlnes

      li.works__item
        img.works__picture(src='images/work-6.jpg' alt='Work 6')
        .works__info
          span.works__plus +
          h3.works__header Partnership guidlnes

    button.btn.btn_center Show me more