.team {
  padding: 76px 0 96px;

  @media (max-width: 1180px) {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  @media (max-width: 600px) {
    padding: 50px 0 40px;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 263px;
    margin-right: 25px;
    margin-bottom: 20px;
    text-align: left;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 930px) {
      &:last-child {
        margin-right: 25px;
      }
    }

    @media (max-width: 615px) {
      margin: 0 25px 20px 25px;
    }

    @media (max-width: 450px) {
      width: 240px;
    }

    &__info {
      z-index: 99;
    }

    &:hover {
      .social {
        opacity: 1;
      }
      .team {
        &__info {
          background-color: $section-color;
        }

        &__name {
          color: #ffffff;
        }

        &__description {
          color: #ffffff;
        }
      }
    }
  }

  &__image {
    position: relative;
    font-size: 0;
    width: 100%;

    @media (max-width: 615px) {
      margin: 0 auto;
      display: block;
    }

    .social {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: rgba(#ffffff, 0.4);
      transition: 0.3s;

      &__list {
        width: 200px;
        margin-top: 130px;
      }

      &__item {
        width: 50px;
        height: 50px;
        margin-right: 2px;
        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      &__link {
        line-height: 50px;
        background-color: $section-color;

        &:hover {
          background-color: lighten($section-color, 10%);
        }
      }
    }
  }

  &__picture {
    @media (max-width: 450px) {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    background-color: #e1e6ea;
    padding: 20px 0 20px 20px;
    transition: 0.3s;
  }

  &__name {
    text-transform: uppercase;
    color: #292f36;
    font-family: $ff-text-bold;
    transition: 0.3s;
  }

  &__description {
    color: #939598;
    transition: 0.3s;
  }
}
