.wedo {
  padding: 76px 0 70px 0;

  @media (max-width: 1160px) {
    text-align: center;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    text-align: center;
    margin-right: 29px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    @media (max-width: 1160px) {
      &:nth-child(4n) {
        margin-right: 29px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (max-width: 865px) {
      margin-right: 29px;

      &:nth-child(3n) {
        margin-right: 29px;
      }
    }

    @media (max-width: 500px) {
      margin: 0;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &__header {
    text-transform: uppercase;
    color: #292f36;
    font-family: $ff-text-bold;
    font-size: 1.0625rem;
    margin: 0 0 26px 0;
  }

  &__description {
    color: #8d8f92;
    margin: 0 0 86px 0;
    line-height: 1.5rem;
  }
}
