.burger-menu
  a.burger-menu__icon(href='#' id='burger-menu') &#9776

  ul.burger-menu__list.burger-menu_hidden
    li.burger-menu__item
      a.burger-menu__link(href='#') Home
    li.burger-menu__item
      a.burger-menu__link(href='#') About
    li.burger-menu__item
      a.burger-menu__link(href='#') Work
    li.burger-menu__item
      a.burger-menu__link(href='#') Team
    li.burger-menu__item
      a.burger-menu__link(href='#') Services
    li.burger-menu__item
      a.burger-menu__link(href='#') Features
    li.burger-menu__item
      a.burger-menu__link(href='#') Contact
  