nav.nav
  ul.nav__list
    - var items = ['Home', 'About', 'Work', 'Team', 'Services', 'Features', 'Contact']
    each item in items
      li.nav__item
        if item === 'Home'
          a.nav__link.nav__link--active(href='#')=item
        else
          a.nav__link(href='#')=item